body{
   margin: 0;
   padding: 0;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
}
.picture{
    background-image: url("images.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 450px;
    height: 250px;
    margin-left: 80px;
}
input{
    border-radius: 25px;
    height: 50px;
    width: 600px;
    border: 2px solid rgb(223, 215, 215);
    text-align: center;
}
input::placeholder{
 font-size: 22px;
}
.button-container{
    margin-top: 30px;
}
button{
    border: none;
    background-color: rgb(206, 206, 204);
    padding: 8px;
    font-size: medium;
    font-weight: 550;
    border-radius: 5px;
}